@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  height: 100%;
}

body {
  background-color: #1d2128;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

main {
  display: flex;
  min-width: auto;
}

.active {
  background: #999b9e;
}

.hidden {
  display: none;
}
