@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  height: 100%;
}

body {
  background-color: #1d2128;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

main {
  display: flex;
  min-width: auto;
}

.active {
  background: #999b9e;
}

.notes {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-bottom {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 63px;
  justify-content: space-between;
}

.card {
  width: 260px;
  height: 260px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(153, 155, 158, 0.85);
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  word-break: break-all;
  background-color: #fff;
}

.icon-wrapper {
  height: 36px;
  width: 36px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-bottom: 10px;
}

.card-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #000000;
}

.card-options {
  display: flex;
  align-items: center;
}

.card-options img {
  border-radius: 50%;
  background-color: #eee;
  margin-right: 10px;
}

.saved-notes {
  display: flex;
  margin: 30px;
  flex-wrap: wrap;
}

.trash-notes {
  display: none;
  margin: 30px;
  flex-wrap: wrap;
}

.no-saved-notes {
  font-weight: bold;
  max-width: 280px;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #ffffff;
  margin: 0 auto;
}

.hidden {
  display: none;
}
